@charset "utf-8";
/*
*
*
*
*
*
*
********
Hello!
Thanks for visiting my site!
If you have any questions regarding my code or work, please feel free to email me!
********
*
*
*
*
*
*
*/
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Nate's Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		6;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Font Shtuff */
h1 {
	font: 60px 'Nilland', Times New Roman;
	color: #19222c;
}
h2 {
	font: 42px 'Nilland-Black', Times New Roman;
}
h3 {
	font: 36px 'Nilland', Times New Roman;
}
h4 {
	font: 32px 'Nilland-ExtraBold', Times New Roman;
}
h5 {
	font: 22px 'Nilland', Times New Roman;
}
@font-face {
	font-family: 'Nilland';
	src: url('../fonts/nilland/Nilland.ttf') format('truetype');
}
@font-face {
	font-family: 'Nilland-Black';
	src: url('../fonts/nilland/Nilland-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Nilland-ExtraBold';
	src: url('../fonts/nilland/Nilland-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Nilland-SmallCaps';
	src: url('../fonts/nilland/Nilland-SmallCaps.ttf') format('truetype');
}

/* Goodies */
body {
	background-image: url('../img/pattern.jpg');
	background-repeat: repeat;
}
#header-line {
	margin: 0 0 120px 0;
	background-color: #171D26;
	height: 20px;
}
.dot {
	padding-left: 10px;
	padding-right: 10px;
}
.badge {
	opacity: 0.5;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}
.badge:hover {
	opacity: 1;
	filter: alpha(opacity=100); /* IE8, ugh. */
}

/* Buttons */
a,
a:visited,
a:hover {
	color: #fff;
	outline: 0 !important;
	text-decoration: none;
}
.button {
	display: inline-block;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	font-size: 22px;
	line-height: 30px;
	padding: 5px 12px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	position: relative;
	margin: 0 10px 10px 0;
}
.button:after {
	position: absolute;
	display: block;
	content: "";
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	z-index: -1;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.button:active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.02) !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.02) !important;
}
.button:active:after {
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) !important;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) !important;
}
.black-button:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #7c8184;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #7c8184;
	background-color: #676b6d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#676b6d), to(#484a4c));
	background-image: -webkit-linear-gradient(top, #676b6d, #484a4c);
	background-image: -moz-linear-gradient(top, #676b6d, #484a4c);
	background-image: -o-linear-gradient(top, #676b6d, #484a4c);
	background-image: -ms-linear-gradient(top, #676b6d, #484a4c);
	background-image: linear-gradient(top, #676b6d, #484a4c);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#676b6d', EndColorStr='#484a4c');
}
.black-button {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #6f7476;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 #6f7476;
}
.black-button,
.black-button:active {
	background-color: #5c6062;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5c6062), to(#434547));
	background-image: -webkit-linear-gradient(top, #5c6062, #434547);
	background-image: -moz-linear-gradient(top, #5c6062, #434547);
	background-image: -o-linear-gradient(top, #5c6062, #434547);
	background-image: -ms-linear-gradient(top, #5c6062, #434547);
	background-image: linear-gradient(top, #5c6062, #434547);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5c6062', EndColorStr='#434547');
}
.black-button:after {
	background-color: #37383a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#37383a), to(#252627));
	background-image: -webkit-linear-gradient(top, #37383a, #252627);
	background-image: -moz-linear-gradient(top, #37383a, #252627);
	background-image: -o-linear-gradient(top, #37383a, #252627);
	background-image: -ms-linear-gradient(top, #37383a, #252627);
	background-image: linear-gradient(top, #37383a, #252627);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#37383a', EndColorStr='#252627');
}
.black-button:active:after {
	background-color: #323435;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#323435), to(#292b2b));
	background-image: -webkit-linear-gradient(top, #323435, #292b2b);
	background-image: -moz-linear-gradient(top, #323435, #292b2b);
	background-image: -o-linear-gradient(top, #323435, #292b2b);
	background-image: -ms-linear-gradient(top, #323435, #292b2b);
	background-image: linear-gradient(top, #323435, #292b2b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#323435', EndColorStr='#292b2b');
}

/* Mobile Layout: 480px and below. */
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87%;
	padding-left: 1.5%;
	padding-right: 1.5%;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	clear: both;
	float: left;
	margin-left: 17.2413%;
	width: 65.5172%;
	display: block;
}
#name {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#tagline {
	clear: both;
	float: left;
	margin-left: 17.2413%;
	width: 65.5172%;
	display: block;
	font: 36px 'Nilland-SmallCaps';
}
#uppernavdiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #171D26;
	height: 5px;
}
#navigation {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font: 22px 'Nilland';
	margin-top: 10px;
}
#lowernavdiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #171D26;
	height: 5px;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 150px;
	margin-bottom: 150px;
}
#badges {
	clear: both;
	float: left;
	margin-left: 17.2413%;
	width: 65.5172%;
	display: block;
}
#footbreak {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #171D26;
	/*background:url(../img/division.png);*/ /*test later, idk if i like this anymore */
	height: 7px;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	min-height: 100px;
}
#fancies {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#copyright {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 75px;
	margin-bottom: 75px;
}
#social {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
.gridContainer {
	width: 87.75%;
	padding-left: 1.125%;
	padding-right: 1.125%;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	clear: both;
	float: left;
	margin-left: 38.4615%;
	width: 23.0769%;
	display: block;
}
#name {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 74.3589%;
	display: block;
}
#tagline {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 74.3589%;
	display: block;
}
#uppernavdiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#navigation {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#lowernavdiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#badges {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footbreak {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fancies {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#copyright {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#social {
	clear: both;
	float: left;
	margin-left: 76.923%;
	width: 23.0769%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px) {
.gridContainer {
	width: 76.7%;
	max-width: 1232px;
	padding-left: 0.65%;
	padding-right: 0.65%;
	margin: auto;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 83.0508%;
	display: block;
}
#name {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 83.0508%;
	display: block;
	margin-top: -20px;
}
#tagline {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: -30px;
}
#uppernavdiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#navigation {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 83.0508%;
	display: block;
}
#lowernavdiv {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#badges {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footbreak {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fancies {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#copyright {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#social {
	clear: none;
	float: left;
	margin-left: 77.9661%;
	width: 23.7288%;
	display: block;
}
}